.section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  max-width: 600px;
}

.name {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  background: linear-gradient(
    135deg,
    rgb(var(--mui-purple-400)),
    rgb(var(--mui-deep-purple-500)),
    rgb(var(--mui-pink-600))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: rainbow-gradient 4s ease infinite;
  margin: 0;
  text-align: center;
}
